<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Mulder</a><button class="navbar-toggler navbar-toggler-right" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><fa-icon class="ml-1" [icon]='["fas", "bars"]'></fa-icon></button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav ml-auto">
                <li *ngFor="let menu of mainStaticMenu" class="nav-item"><a class="nav-link" routerLink="{{'/'+ menu.path}}" >{{menu?.menupath}}</a></li>
                <li *ngFor="let mainMenuEntry of mainMenuEntries" class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link"  style="cursor: pointer;" [id]="mainMenuEntry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                      {{mainMenuEntry}}
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu"  [attr.aria-labelledby]="mainMenuEntry">
                      <a *ngFor="let doc of mainMenuMap.get(mainMenuEntry)" class="dropdown-item" href="#" routerLink="{{'/'+ doc.path}}" >{{doc?.menupath.split('/')[1]}}</a>
                    </div>
                    </li>
<!--                <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about">Contact</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/foo">Error Demo</a></li>-->
                <li class="nav-item">
                    <a class="nav-link icon" href="https://github.com/mulder-jamstack/mulder-jamstack.github.io" target="_blank"><fa-icon [icon]='["fab", "github"]'></fa-icon></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
