<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/barais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "twitter"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://scholar.google.fr/citations?user=LV5i8X4AAAAJ&hl=en" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "google"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/obarais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "facebook-f"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/barais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "github"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.linkedin.com/in/olivierbarais" target="_blank"
                            ><fa-stack size="lg"><fa-icon class="fa-stack-2x" [icon]='["fas", "circle"]' stackItemSize="2x"></fa-icon><fa-icon class="fa-stack-1x fa-inverse" [icon]='["fab", "linkedin"]' stackItemSize="1x"></fa-icon></fa-stack
                        ></a>
                    </li>

                </ul>
                <p class="copyright text-muted">Copyright © Olivier Barais 2021</p>
            </div>
        </div>
    </div>
</footer>
