
<mulder-layout *ngIf="post">
    <mulder-main-header [backgroundImage]="backgroundImage || defaultBackground"
      [heading]="title" [subHeading]="subTitle" [meta]="meta?.join(', ')"
      [siteHeading]="siteHeading">
    </mulder-main-header>
    <article>
        <div class="container">
            <div class="row">
                <div #content class="col-lg-12 col-md-12 mx-auto">
                    <div *ngIf="mdContent" [innerHtml]="mdContent"></div>
                </div>
            </div>
        </div>
    </article>
</mulder-layout>
